---
layout: page
title: Publications
order: 2
---
<!-- Bootstrap's JS is only needed here -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>


{% for pub in site.data.publications %}
            <table width="100%" border="0" class="pubs">
              <tr class="pubs">
                <td class="pubs">
					<h4 class="pub-title">
					<a data-toggle="collapse" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">
						{{ pub.title }}	
					</a>					
					</h4>
						<span class="pub_author"> {{ pub.authors }} </span> -
						<span class="pub_conference"> {{ pub.conference }} </span>
						
                <td class="pub_links pubs">
					{% if pub.link.size > 0 %}
					<a class="pub_paper_links" href="{{ pub.link }}">[pdf]</a>
					{% if pub.code.size > 0 %}
					<br/>
					{% endif %}
					{% endif %}
					{% if pub.code.size > 0 %}
					<a class="pub_code_links" href="{{ pub.code }}">[code]</a>
					{% endif %}
					<br/>
                  </td>
              </tr>
			  
			<tr class="abstract">
				<td colspan="2" class="abstract">
					<div class=" collapse out abstract_panel" id="collapse{{ forloop.index }}">
						<!-- <div class="abstract_panel"> -->
							{% capture abstract %}{{ pub.abstract }}{% endcapture %}
							{{ abstract | markdownify }}
						<!-- </div> -->
					</div>
			</td>
			</tr>
			  
            </table>
{% endfor %}



