---
layout: page
title: Publications & Talks
order: 2
sidebar: yes
icon: graduation-cap
---
<!-- Bootstrap's JS is only needed here -->

  <script src="{{ site.baseurl }}/public/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>

	<h2>Papers</h2>

{% for pub in site.data.publications %}
            <table width="100%" border="0" class="pubs">
              <tr class="pubs">
                <td class="pubs">
					<h4 class="pub-title">
					<a data-toggle="collapse" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">
						{{ pub.title }}	
					</a>					
					</h4>
						<span class="pub_author"> {{ pub.authors }} </span> -
						<span class="pub_conference"> {{ pub.conference }} </span>
						
                <td class="pub_links pubs">
					{% if pub.link.size > 0 %}
					<a class="pub_paper_links" href="{{ pub.link }}">[pdf]</a>
					{% if pub.code.size > 0 %}
					<br/>
					{% endif %}
					{% endif %}
					{% if pub.code.size > 0 %}
					<a class="pub_code_links" href="{{ pub.code }}">[code]</a>
					{% endif %}
					<br/>
                  </td>
              </tr>
			  
			<tr class="abstract">
				<td colspan="2" class="abstract">
					<div class=" collapse out abstract_panel" id="collapse{{ forloop.index }}">
						<!-- <div class="abstract_panel"> -->
							{% capture abstract %}{{ pub.abstract }}{% endcapture %}
							{{ abstract | markdownify }}
						<!-- </div> -->
					</div>
			</td>
			</tr>
			  
            </table>
{% endfor %}




<br/>





	<h2>Presentations</h2>

            <!-- <table width="100%" border="0" style="width:100%;text-align:left;background-color:gold;"> -->
{% for pres in site.data.presentations %}

            <table width="100%" border="0" class="pres">

              <tr class="pres">
                <td class="pres">
					<h4 class="pub-title">
						{{ pres.title }}	
					</h4>
						<!-- <span class="pub_author"> {{ pub.authors }} </span> -
						<span class="pub_conference"> {{ pub.conference }} </span> -->
							
						<div class="pres-venues">
			            <table width="100%" border="0" class="venue">
						
						{% for venue in pres.venues %}
							
			                <tr class="venue" >
				                <!-- <tr class="pres" style="background-color:yellowgreen;color:white;"> -->
				                <td class="venue">
									{{ venue.where }}
				                </td>
				                <td class="venue venue_date" width="150em">
									{{ venue.when }}
				                </td>
				                <td class="pub_links venue">
									{% if venue.slides_link.size > 0 %}
									<a class="pub_paper_links" href="{{ site.baseurl }}/slides/{{ venue.slides_link }}">[slides]</a>
									{% if venue.video_link.size > 0 %}
									<br/>
									{% endif %}
									{% endif %}
									{% if venue.video_link.size > 0 %}
									<a class="pub_paper_links" href="{{ venue.video_link }}">[video]</a>
									{% endif %}
									<br/>
				                </td>
								
			                </tr>
							
						{% endfor %}
			            
						</table>
					</div>
						
              </tr>
			  
            </table>
			  
{% endfor %}

