---
layout: page
title: Publications & Talks
order: 2
sidebar: yes
icon: graduation-cap
---
<!-- Bootstrap's JS is only needed here -->

  <script src="{{ site.baseurl }}/public/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>

	<h2>Publications/Manuscripts</h2>

{% for pub in site.data.publications %}
            <table width="100%" border="0" class="pubs">
              <tr class="pubs">
                <td class="pubs">
					<h4 class="pub-title">
					<a data-toggle="collapse" href="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}" title="Toggle abstract collapse">
						{{ pub.title }}	
					</a>					
					</h4>
						<span class="pub_author"> {{ pub.authors }} </span> -
						<span class="pub_conference"> {{ pub.conference }} </span>
						
                <td class="pub_links pubs">
					{% if pub.code.size > 0 %}
					<a class="pub_code_links" href="{{ pub.code }}" title="Link to the code">
						<span class="fa fa-code fa-lg" aria-hidden="true"></span>
						<!-- [code] -->
					</a>
					{% endif %}
					
					{% if pub.link.size > 0 %}
					<a class="pub_paper_links" href="{{ pub.link }}" title="Paper (PDF)">			
						<span class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></span>
						<!-- [pdf] -->
					</a>
					
					{% endif %}
					<!-- <br/> -->
                  </td>
              </tr>
			  
			<tr class="abstract">
				<td colspan="2" class="abstract">
					<div class=" collapse out abstract_panel" id="collapse{{ forloop.index }}">
						<!-- <div class="abstract_panel"> -->
							{% capture abstract %}{{ pub.abstract }}{% endcapture %}
							{{ abstract | liquefy | markdownify }}
						<!-- </div> -->
					</div>
			</td>
			</tr>
			  
            </table>
{% endfor %}




<br/>





	<h2>Presentations</h2>

            <!-- <table width="100%" border="0" style="width:100%;text-align:left;background-color:gold;"> -->
{% for pres in site.data.presentations %}

            <table width="100%" border="0" class="pres">

              <tr class="pres">
                <td class="pres">
					<h4 class="pub-title">
						{{ pres.title }}	
					</h4>
						<!-- <span class="pub_author"> {{ pub.authors }} </span> -
						<span class="pub_conference"> {{ pub.conference }} </span> -->
							
						<div class="pres-venues">
			            <table width="100%" border="0" class="venue">
						
						{% for venue in pres.venues %}
							
			                <tr class="venue" >
				                <!-- <tr class="pres" style="background-color:yellowgreen;color:white;"> -->
				                <td class="venue">
									{{ venue.where }} &mdash;
									<span class="venue_date">
										{{ venue.when }}
									</span>
				                </td>
				                <td class="pub_links venue">
									
									{% if venue.video_link.size > 0 %}
									<a class="pub_paper_links" href="{{ venue.video_link }}" title="Video">
										<span class="fa fa-video-camera" aria-hidden="true"></span>
										<!-- [video] -->
									</a>
									{% endif %}
									
									{% if venue.slides_link.size > 0 %}
									    {% if venue.external_link %}
									    <a class="pub_paper_links" href="{{ venue.slides_link | liquefy }}" title="Slides">
                                        {% else %}
									    <a class="pub_paper_links" href="{{ site.baseurl }}/slides/{{ venue.slides_link }}" title="Slides">
    									{% endif %}
                                        
										<span class="fa fa-file-o fa-lg" aria-hidden="true"></span>
										<!-- [slides] -->
									</a>
									<!-- <br/> -->
									{% endif %}
									
									
				                </td>
								
			                </tr>
							
						{% endfor %}
			            
						</table>
					</div>
						
              </tr>
			  
            </table>
			  
{% endfor %}

