
p {
	text-align: justify;
}

.emph {
	font-style: italic;
}

.email {
  font-size: 0.9rem;
  font-weight: 300;
}

table.pubs {
  margin-bottom: 1rem;
/*  width: 100%;*/
  border: none;
/*  border-collapse: collapse;*/
  background-color: #f9f9f9;
  
}

td.pubs,
th.pubs {
  padding: .25rem .5rem;
  border: none;
}

/* Blog post or page title */
.pub-title,
.pub-title a {
  color: #303030;
  margin-bottom: .0rem;
}

.pub-title {
  margin-top: 0;
}

.pub_links {
/*	min-width: 4em;*/
	width: 4em;
	vertical-align: top;
	text-align: right;	
}
.pub_auth_conf {
	margin-top: 0;
	margin-bottom: 0;
}

.pub_author {
	width: auto;	
	vertical-align: center;
	font-style: italic;
}

.pub_conference {
	text-align: right;
	width: 6em;
	vertical-align: center;
	font-size: 0.9em;
}

table.pub_auth_conf {
  margin-bottom: 0rem;
/*  width: 100%;*/
  border: none;
/*  border-collapse: collapse;*/
}


td.pub_author,
th.pub_author,
td.pub_auth_conf,
th.pub_auth_conf,
td.pub_conference,
th.pub_conference 
{
  border: none;
}

table.pres {
    background-color: #f9f9f9;
	
  border: none;
  border-collapse: collapse;
  
/*margin-top: 0;*/
/*margin-bottom: 0;*/
/*margin-left:10em;*/

}

td.pres,
tr.pres,
th.pres {
/*  background-color:yellowgreen;*/
/*  padding: .25rem .5rem;*/
  border: none;
/*  background: transparent;*/
/*margin-left:10em;*/

}


table.venue {
/*    background-color: background-color:rgba(0, 0, 0, 0);*/
	
/*  margin-bottom: 1rem;*/
/*  width: 100%;*/
  border: none;
  border-collapse: collapse;
/*  background: transparent;*/
margin-top: 0;
margin-bottom: 0;
/*margin-left:10em;*/

}



td.venue,
tr.venue,
th.venue {
/*  background-color:gold;*/
  padding: 0rem 0rem;
  border: none;
/*  background: transparent;*/
	
}

.venue_date {
	text-align: right;
	font-style: italic;
}
.code_desc {
	text-align:justify;
	font-size: 0.85em;
	line-height: 1.3;
    margin-top: 0.4rem;
    margin-bottom: 0rem;
}

td.code_pic {
	width: 6em;
	vertical-align: center;
	align: center;
	
    border: none;
}

td.code_pic_left {
}

td.code_pic_right {
}

img.code_pic {
/*    background-color: black;*/
    margin: 0rem;
	align: center;
}

table.code {
    background-color: #f9f9f9;
	
	  padding: 1rem 1rem;
	
/*  margin-bottom: 1rem;*/
/*  width: 100%;*/
  border: none;
  
/*  border-collapse: collapse;*/
}

td.code,
th.code {
/*  padding: .25rem .5rem;*/
  border: none;
  margin-bottom: 0rem;
}

td.code_desc_title,
th.code_desc_title {
  border: none;
}

td.code_pic,
th.code_pic
{
	padding: 0rem 0rem;
	margin: 0rem;
	border: none;
}

.code_title {
  margin-top: 0rem;
  color: #313131;
}



.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

td.abstract,
th.abstract {
  padding: 0rem 0rem;
  border: none;
}
.abstract_panel {
	
  line-height: 1.3;
  font-size: 0.85em;
  margin-bottom: 0rem;
  margin-top: 0rem;

  min-height: 20px;
  padding: 19px;
/*  margin-bottom: 20px;*/
/*  background-color: #f5f5f5;*/
  background-color: #fcfcfc;
/*  border: 1px solid #e3e3e3;*/
/*  border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.pgp {
	  color: rgba(255,255,255,.5);
	  text-decoration: none;
}

.pres-venues {
	margin-left:.5em;
}

.twitter-tm-rb {
	max-width:600px;
    margin-left: auto;
    margin-right: auto;	
}